.ContactBody {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid aqua;
  margin: 10%;
  border-radius: 10px;
  margin-top: -30px;
}

.ContactInputDiv {
  height: 40px;
  width: 70%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(237, 158, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactInputDiv:hover {
  background-color: aliceblue;
  border: 0px;
}

.ContactInputDiv1 {
  height: 43px;
  width: 70%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactInputDiv2 {
  height: 40px;
  width: 30%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactInputDivMess {
  height: 150px;
  width: 70%;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgb(237, 158, 38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactInputDivMess:hover {
  background-color: aliceblue;
  border: 0px;
}

.ContactInput {
  height: auto;
  width: 90%;
  background-color: transparent;
  border-width: 1px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.ContactInputMess {
  height: 140px;
  width: 90%;
  background-color: transparent;
  border-width: 1px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.ContactBottuntDiv {
  height: 40px;
  width: 70%;
  background-color: transparent;
  border-width: 1px;
  border-radius: 20px;
  margin-top: 20px;
  border-color: rgb(237, 158, 38);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.ContactBottuntDiv:hover {
  background-color: aqua;
  border: none;
}

.ContactBottuntH1 {
  color: #fff;
  font-size: 30px;
}

.ContactBottuntH1:hover {
  color: rgb(0, 0, 0);
}

.ContactInputSelect {
  border: 1px solid rgb(237, 158, 38);
  color: rgb(237, 158, 38);
  padding: 20;
  background-color: transparent;
  transition: 'opacity 300ms';
}