.homeBody{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeImage{
    height: 500px;
    width: 350px;
    border: .8px solid #fff;
    
}
.homeImage2{
    height: 470px;
    margin-top: 15px;
    margin-left: -15px;
    width: 380px;
    border: .8px solid #fff;
}
.homeImg{
    height: 300px;
    width: 300px;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 79% 0, 89% 10%, 100% 20%, 100% 85%, 85% 85%, 85% 100%, 22% 100%, 9% 88%, 0 79%);
    margin-top: 20px; 
}
.HomeLayout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.HomeEduButton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
}
@media only screen and (max-width: 550px) {
    .HomeLayout {
        flex-direction: column;
    }
    .HomeEduButton{
        flex-direction: column;
    }
    .HomeExpLine{
        margin: 20px;
    }
  }
.HomeLayoutImg{
    height: 400px;
    width: auto;
}
.HomeLayoutLine{
    height: 2px;
    width: 40%;
    background-color: rgb(56, 46, 46);
    margin-left: 30%;
    margin-top: 15px;
}
.HomeLayoutLine2{
    height: 2px;
    width: 40%;
    background-color: rgb(56, 46, 46);
    margin-left: 30%;
    margin-top: -40px;
}
.HomeLayoutButton{
    font-size: 33px;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: aqua;
}
.HomeLayoutButton:hover{
    color: #fff;
}

.HomeLayoutIcon:hover{
    color: #fff;
}

.HomeLayoutButton2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 2.5px;
    background-color: transparent;
    color: rgb(15, 104, 98);
}
.HomeLayoutButton2:hover{
    color: #fff;
}


.HomeAboutDiv{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-top: -10px;
}
.HomeAboutDivH1{
    opacity: .4;
}
.HomeAboutDivH2{
    flex: 1;
    margin-left: 10px;
    font-family: initial;
}



.HomeExpLine{
    height: 1.5px;
    width: 40px;
    background-color: bisque;
    margin-left: 10px;
    opacity: .4;
}
.HomeExpBox{
    background-color: rgb(33, 33, 34);
    margin: 10%;
    border-radius: 10px;
    animation: 2s ease-out 0s 1 FadeIn;
}
@keyframes FadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
.HomeExpRound{
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: rgb(237, 158, 38);
    margin-left: 10px;
    margin-top: -7px;
}
.HomeExpRound2{
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background-color: rgb(84, 71, 52);
    margin-left: 10px;
    margin-top: -7px;
}
.HomeExpRroBox1{
    background-color: rgb(111, 111, 111);
    height: 60px;
    width: 3px;
    border-radius: 2.5px;
    margin-top: 42px;
}
.HomeExpRroBox2{
    display: flex;
    flex: 5;
}
.HomeDowonLine{
    background-color: bisque;
    height: 1.5px;
    width: 78%;
    margin-top: 50px;
}
.HomeDowonLine1{
    height: 50px;
    width: 6%;
    margin-left: 1%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HomeDowonLine1:hover{
    border: 1px solid bisque;
}
.HomeDowonLineIcon{
    font-size: 40px;
    color: bisque;
}
.HomeDowonLineIcon:hover{
    font-size: 30px;
    
}
.HomeDowonLine2{
    background-color: bisque;
    height: 1.5px;
    width: 14%;
    margin-top: 50px;
    margin-left: 1%;
}
