.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 250px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .HomeStyleP{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: initial;
  }
  .HomeStyleP2{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 100;
  }