.SliderBody{
    height: auto;
}

.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .SliderStyleP{
    color: aqua;
    font-size: 50px;
  }
  .SliderStyleP3{
    color: rgb(248, 153, 11);
    font-size: 50px;
  }
  .SliderStyleP2{
    font-style: italic;
    font-size: 33px;
    margin-top: -5px;
    text-decoration: underline;
    margin-left: 55%;
  }